"${H}!/bin/bash"
${H}
"${H} @brief   ${BRIEF}"
"${H} @version ${VERSION}"
"${H} @date    ${DATE}"
"${H} @company ${COMPANY}"
"${H} @author  ${AUTHOR_NAME} <${AUTHOR_EMAIL}>"
${H}

"${H} Setup source and destination"
"TW_DIR_NAME=${PRO_NAME}_pkg"
"PYPI_URL=https://upload.pypi.org/legacy/"

"${H} Check process"
"twine check ./\\\${TW_DIR_NAME}/dist/*"

"${H} Deploying process"
"cd \\\$TW_DIR_NAME"
"twine upload ./\\\${TW_DIR_NAME}/dist/* --verbose"

"${H} Success exit"
"exit 0"
